<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>461524927651-9o2tfqk0upefv7leboftq8du1fatifbe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.461524927651-9o2tfqk0upefv7leboftq8du1fatifbe</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>461524927651-mfth0d5gl8on228vjtk8pelp4gd3sp94.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAmZehdCLAGRtRJjYCYgXAoV5ygtlTASto</string>
	<key>GCM_SENDER_ID</key>
	<string>461524927651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flightreservation</string>
	<key>PROJECT_ID</key>
	<string>ba-reservacionvuelos</string>
	<key>STORAGE_BUCKET</key>
	<string>ba-reservacionvuelos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461524927651:ios:217ef0ce51b1a51e88ab16</string>
	<key>DATABASE_URL</key>
	<string>https://ba-reservacionvuelos.firebaseio.com</string>
</dict>
</plist>